@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about how we can develop webapps<a href="https://www.stclaircollege.ca/">to suit the individual customers need.</a>.</p>
    <img src="gradpicanima.gif" alt="gradpic" width="75%" height="auto" />
</div>
