@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<div style=<button><a href="mailto:roryromanovich@gmail.com">Email me</a></button>
<div style=<button><a href="https://www.stclaircollege.ca/">St. Clair College</a></button>
<img src="Rory\pic2.jpg" alt="Military Choppers" width="75%" height="auto" />
</div>
